:root {
    --titulo-da-pagina: 20px;
    --font-size-buttons: 25px;
    --cor-do-background: aquamarine;
    --background-color-buttons: white;
    --cor-texto-formulario: white;
    --fonte: 'Nunito', Helvetica, sans serifa;

}

body {
    background-color: var(--cor-do-background);
    font-family:  var(--fonte);
}

header {
    display: flex;
    justify-content: center;
}

#logo img {
    width: 50px;
    height: 50px;
    margin: 7px 20px;
}

section {
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    margin: 0px 100px;
    border-radius: 10px;
}

/*início da estilização de seção da home*/
#pg-home button a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#pg-home button {
    width: 200px;
    height: 75px;
    background-color: var(--background-color-buttons);
    margin: 50px 0px;
    border-radius: 10px;
}
/*fim da estilização de seção da home*/



/*inicio da estilização de seção de cadastro*/
#formulario {
    color: var(--cor-texto-formulario);
}
#formulario label{

    margin: 10px;
}
#formulario input {
    height: 18px;
    margin: 5px;
    border-radius: 5px;
    border:  none;
    font-size: 15px;
}
#input-menor {
    width: 25px;
}
#fodae {
    border-radius: 5px;
}
/*fim da estilização de seção de cadastro*/

/*inicio da estilização de seção de buscar*/


/*fim da estilização de seção de buscar*/

footer {
    display: flex;
    justify-content: center;
    font-weight: bold;
    /*Gambiarra para o footer ficar no final da página*/
    /*Mudar depois TODO*/
    position: absolute;
    bottom: 0;
    margin-left: 50em;
}


